@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    min-height: 100vb;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.container-fluid{
    background-color: #5F9EA0;
    padding: 15px;
    margin: 0 0;
}
